.Counter{
    display: flex;
    align-items: center;
    justify-content: space-around;
    min-width: 200px;
}
.Count{
    color: snow;
    font-size: 55px;
}
.CounterButton{
    background-color: rgb(245, 203, 14);
    border-radius: 25px;
   width: 50px;
    height: 50px;

}